<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between alig-items-center"
      [ngClass]="{
        'list-group-item-success': isFirst,
        'list-group-item-dark': isLast
      }"
  *ngFor="let character of characterList;
          let i = index;
          let isFirst = first;
          let isLast = last;
          let isEven = even;
          let isOdd = odd;
  ">
  <div class="">
    <span>{{i + 1}} .</span>
    <span>{{character.name}} </span>
    <strong>Power:</strong>
    <span>{{character.power}} </span>

  </div>

    <button class="btn btn-danger" (click)="deleteCharacter(character.id!)"> X </button>
<!--
    <span>Es el primero {{isFirst}} </span>
    <span>Es el ultimo {{isLast}} </span>
    <span>Es par {{isEven}} </span>
    <span>Es impar {{isOdd}} </span> -->

  </li>
</ul>
