<h1>{{name}}</h1>

<dl>
  <dt>Nombre</dt>
  <dd>{{name}}</dd>


  <dt>Edad</dt>
  <dd>{{age}}</dd>



  <dt>Metodo</dt>
  <dd>{{getHeroDescription()}}</dd>



  <dt>Capitalizado</dt>
  <dd>{{capitalizedName}}</dd>

</dl>

<button (click)="changeHero()"  *ngIf="name !== 'Spiderman'" class="btn btn-primary mx-2">
  Cambiar Nombre
</button>

<button (click)="changeAge(45)" *ngIf="age !== 45"  class="btn btn-primary mx-2">
  Cambiar edad
</button>

<button (click)="reset()" class="btn btn-primary mx-2">
  Reset
</button>
